@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap');
body {
    font-family: Baloo Tammudu 2, cursive;
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}

.navbar-logo {
    padding: 15px;
    pointer-events: none;
}

.navbar-mainbg {
    background-color: black;
    padding: 0px;
}

.nav-link {
    color: #fff;
}